<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>IT Support - Bo Tong Technologies Inc.</title>
    <meta name="keywords" content="IT Support - Bo Tong Technologies Inc." />
    <meta name="description" content="IT Support - Bo Tong Technologies Inc." /> 

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">

    <!-- CSS Files -->

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <!--==== Owl Carousel css file ====-->
    <link rel="stylesheet" href="/public/plugins/owl-carousel/owl.carousel.min.css">

    <!--==== Nice Select css file ====-->
    <link rel="stylesheet" href="/public/plugins/nice-select/nice-select.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/public/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/public/css/custom.css">
</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preload-img">
            <div class="spinnerWave">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
            </div>
        </div>
    </div>
    <!-- End of Preloader -->

    <!-- Main Header Start -->
    <header class="lawFirm--header">
        <div class="lawFirm--navbar-cover">
            <div class="container">
                <!-- Navbar Start -->
                <nav class="lawFirm--navbar pt-20 pb-20 p-relative">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-8">
                            <!-- Logo -->
                            <div class="lawFirm--logo font-weight-bold">
                                <a href="/" class="playfair">
                                    <img src="/public/images/logo.png" alt="" class="img-fluid" data-rjs="2"> 
                                </a>
                            </div>
                            <!-- End of Logo -->
                        </div>

                        <div class="col-lg-4 col-4 p-relative">
                            <!-- Nav Menu -->
                            <div class="lawFirm--nav-menu ul-default">
                                <ul>
                                    <li><a href="/it-support">IT Support</a></li>
                                    <li><a href="/about">About Us</a></li>
                                </ul>
                            </div>
                            <!-- End of Nav Menu -->
                        </div>
                    </div>
                </nav>
                <!-- End of Navbar -->
            </div>
        </div>
    </header>
    <!-- End of Main Header -->

    <!-- Banner Slider Cover -->
    <div class="lawFirm--internship pt-120 pb-120 lawFirm--bg-overlay lawFirm--bg-center" data-bg-img="/public/images/bg-2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text" style="min-height: 200px;display: flex;justify-content: center;flex-direction: column;">
                        <h1>Computer Courage is different</h1>
                        <p>
                            Find out why we care, and why you should too.
                        </p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Banner Slider Cover -->

    <div class="lawFirm--internship simple-internship pt-40 pb-40">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text">
                        <h2>About Computer Courage</h2>
                        <p>Technology today is complicated and constantly changing, yet comes with no instruction manual. Computer Courage aims to fix this by providing personal, expert IT support and beautiful, hand crafted websites.</p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>

    <!-- Row -->
    <section class="lawFirm--about-us pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="lawFirm--section-title text-left">
                        <h2>Commitment to the User</h2>
                    </div>
                    <!-- End of Section Title -->
                    
                    <!-- About Text -->
                    <div class="lawFirm--about-text">
                        <p class="p2">
                            Computer Courage has always put the user first. Too many systems and companies put the focus on products or the bottom line, creating an environment where users are left without knowledgeable or friendly support and without easy to use websites. Our mission is to change that with friendly, local, professional support.
                        </p>
                    </div>
                    <!-- End of About Text --> 
                </div>

                <div class="col-lg-6">
                    <!-- About Images -->
                    <div class="lawFirm--w-process-image">
                        <div class="lawFirm--image-effect">
                            <img src="/public/images/about/about-1.jpg" alt="" class="img-fluid" data-rjs="2">
                        </div>
                    </div>
                    <!-- End of About Images -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Row -->
    <!-- Row -->
    <section class="lawFirm--about-us pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- About Images -->
                    <div class="lawFirm--w-process-image">
                        <div class="lawFirm--image-effect">
                            <img src="/public/images/about/about-2.jpg" alt="" class="img-fluid" data-rjs="2">
                        </div>
                    </div>
                    <!-- End of About Images -->
                </div>
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="lawFirm--section-title text-left">
                        <h2>Commitment to Our Team</h2>
                    </div>
                    <!-- End of Section Title -->
                    
                    <!-- About Text -->
                    <div class="lawFirm--about-text">
                        <p class="p2">
                            Computer Courage grew from a one man operation in the basement of founder Adam Schwartz’s home. Today we support a full team of web and IT professionals and their families with job opportunities, health care, and a positive work environment. Our growing team of friendly experts is our most important asset.
                        </p>
                    </div>
                    <!-- End of About Text --> 
                </div>
            </div>
        </div>
    </section>
    <!-- End of Row -->
    <!-- Row -->
    <section class="lawFirm--about-us pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="lawFirm--section-title text-left">
                        <h2>Commitment to Professionalism</h2>
                    </div>
                    <!-- End of Section Title -->
                    
                    <!-- About Text -->
                    <div class="lawFirm--about-text">
                        <p class="p2">
                            We aim to be more than just technically proficient and knowledgeable; we aim to provide professional, accountable solutions and service to our customers. You’ll see the difference at every step of the way – communication, project management, service, and follow up.
                        </p>
                    </div>
                    <!-- End of About Text --> 
                </div>

                <div class="col-lg-6">
                    <!-- About Images -->
                    <div class="lawFirm--w-process-image">
                        <div class="lawFirm--image-effect">
                            <img src="/public/images/about/about-3.jpg" alt="" class="img-fluid" data-rjs="2">
                        </div>
                    </div>
                    <!-- End of About Images -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Row -->

    <!-- Testimonials -->
    <div class="lawFirm--testimonials pt-120 pb-120 lawFirm--left-back-circle">
        <div class="container">

            <!-- Testimonial Slider -->
            <div class="lawFirm--testimonials-slider owl-carousel" data-owl-nav="true" data-owl-margin="50">
                <!-- Slider Item 01 -->
                <div class="lawFirm--testimonials-slider-item p-relative pt-50 pr-50 pb-70 pl-50 mb-55">
                    <div class="slider-item-text text-center">
                        <p class="pb-50">We’ve had a business relationship with Computer Courage for years now, and it’s been the most productive, most efficient and most enjoyable of all our vendor/partners.  Computer Courage is absolutely professional in all aspects, and we have the utmost confidence in having them work on client projects with us.</p>
                        <div class="slider-item-client">
                            <h4 class="yantramanav">Sabbir Ahmed</h4>
                            <p>UI designer & CEO</p>
                        </div>
                    </div>
                    <div class="slider-item-image">
                        <img src="/public/images/testimonials-images/client-1.jpg" alt="" class="img-fluid" data-rjs="2">
                    </div>
                </div>
                <!-- End of Slider Item 01 -->

                <!-- Slider Item 02 -->
                <div class="lawFirm--testimonials-slider-item p-relative pt-50 pr-50 pb-70 pl-50 mb-55">
                    <div class="slider-item-text text-center">
                        <p class="pb-50">Working with Computer Courage is like having an internal IT department without the expense. They are honest, reliable, responsive and make recommendations that are easy to implement and cause minimal disruption to our staff. I also love how creative they are to using new technologies to help us maximize our efficiency while feeling secure about the protection of our data. I highly recommend Computer Courage!</p>
                        <div class="slider-item-client">
                            <h4 class="yantramanav">Sabbir Ahmed</h4>
                            <p>UI designer & CEO</p>
                        </div>
                    </div>
                    <div class="slider-item-image">
                        <img src="/public/images/testimonials-images/client-2.jpg" alt="" class="img-fluid" data-rjs="2">
                    </div>
                </div>
                <!-- End of Slider Item 02 -->
            </div>
            <!-- End of Testimonial Slider -->
        </div>
    </div>
    <!-- End of Testimonials -->


    <!-- Footer -->
    <footer class="lawFirm--footer pt-60 pb-60 dark-bg text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-3 order-md-1">
                    <!-- Footer Cradit -->
                    <div class="lawFirm-footer-cradit text-center text-md-left">
                        &copy; 2020 Bo Tong Technologies Inc.
                    </div>
                    <!-- End of Footer Cradit -->
                </div>

                <div class="col-md-2 order-1 order-md-2 d-flex justify-content-center">
                    <!-- Footer Logo Icon-->
                    <div class="lawFirm--footer-logo p-20">
                        <img src="/public/images/logo-icon.png" alt="" class="img-fluid" data-rjs="2">
                    </div>
                    <!-- End of Footer Logo Icon-->
                </div>

                <div class="col-md-5 order-2 order-md-3 text-center text-md-right">
                    <!-- Footer Menu -->
                    <div class="lawFirm--footer-menu ul-default">
                        <ul>
                            <li><a href="/it-support" target="_blank"> IT Support </a></li>
                            <li><a href="/about" target="_blank"> About Us </a></li>
                        </ul>
                    </div>
                    <!-- End of Footer Menu -->
                </div>
                
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Back to Top Button -->
    <div class="back-to-top d-flex align-items-center justify-content-center">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
    <!-- End of Back to Top Button -->
    
    <!-- JS Files -->

    <!-- ==== JQuery 3.3.1 js file ==== -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file ==== -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <!-- === Owl Carousel js file === -->
    <script src="/public/plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- === Parollar js file === -->
    <script src="/public/plugins/parollar/jquery.paroller.min.js"></script>

    <!-- === Waypoints js file === -->
    <script src="/public/plugins/waypoints/waypoints.js"></script>

    <!-- === Counter Up js file === -->
    <script src="/public/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- === Ratina JS === -->
    <script src="/public/plugins/ratinajs/retina.min.js"></script>

    <!-- === Menu js file === -->
    <script src="/public/js/menu.js"></script>

    <!-- === Nice Select js file === -->
    <script src="/public/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- ==== Script js file ==== -->
    <script src="/public/js/scripts.js"></script>

    <!-- ==== Custom js file ==== -->
    <script src="/public/js/custom.js"></script>

</body>
</html>