<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>Desktop and User Support - Bo Tong Technologies Inc.</title>
    <meta name="keywords" content="Desktop and User Support - Bo Tong Technologies Inc." />
    <meta name="description" content="Desktop and User Support - Bo Tong Technologies Inc." /> 

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/public/images/V.png">

    <!-- CSS Files -->

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <!--==== Owl Carousel css file ====-->
    <link rel="stylesheet" href="/public/plugins/owl-carousel/owl.carousel.min.css">

    <!--==== Nice Select css file ====-->
    <link rel="stylesheet" href="/public/plugins/nice-select/nice-select.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/public/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/public/css/custom.css">
</head>
<body>

    <!-- Main Header Start -->
    <header class="lawFirm--header">
        <div class="lawFirm--navbar-cover">
            <div class="container">
                <!-- Navbar Start -->
                <nav class="lawFirm--navbar pt-20 pb-20 p-relative">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-8">
                            <!-- Logo -->
                            <div class="lawFirm--logo font-weight-bold">
                                <a href="/" class="playfair">
                                    <img src="/public/images/V.png" alt="" class="img-fluid" data-rjs="2"> Bo Tong Technologies Inc.
                                </a>
                            </div>
                            <!-- End of Logo -->
                        </div>

                        <div class="col-lg-4 col-4 p-relative">
                            <!-- Nav Menu -->
                            <div class="lawFirm--nav-menu ul-default">
                                <ul>
                                    <li><a href="/it-support">IT Support</a></li>
                                    <li><a href="/about">About Us</a></li>
                                </ul>
                            </div>
                            <!-- End of Nav Menu -->
                        </div>
                    </div>
                </nav>
                <!-- End of Navbar -->
            </div>
        </div>
    </header>
    <!-- End of Main Header -->

    <!-- Banner Slider Cover -->
    <div class="lawFirm--internship pt-120 pb-120 lawFirm--bg-overlay lawFirm--bg-center" data-bg-img="/public/images/bg-2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text" style="min-height: 200px;display: flex;justify-content: center;flex-direction: column;">
                        <h1>Desktop and User Support</h1>
                        <p>
                            An efficient, friendly helpdesk to support your users and maintain operations
                        </p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Banner Slider Cover -->

    <div class="lawFirm--internship simple-internship pt-40 pb-40">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text">
                        <h2>It's Like Having the World's Best IT Guy</h2>
                        <p>We’re just a phone call or email away. Our team can offer you a wide range of expertise</p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>

    <!-- Service -->
    <div class="lawFirm--service pt-120 pb-120">
        <div class="container">
            <!-- Section Title -->
            <div class="lawFirm--section-title text-left">
                <h2>Desktop and <br>User Support<span></span></h2>
            </div>
            <!-- End of Section Title -->
            <div class="lawFirm--service-slider lawFirm--slider-right-nav owl-carousel" data-owl-items="2" data-owl-margin="30" data-owl-nav="true" data-owl-responsive='{"0": {"items": "1"}, "480": {"items": "2"}}'>
                <!-- Service Slider Item 01 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 01 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/mobilepower.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 01 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 01 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-25">On-site and remote support</h3>
                                <p>Schedule an appointment to get help on site, or call/email us for a faster response. </p>
                                </div>
                            <!-- End of Service Slider Item 01 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 01 -->

                <!-- Service Slider Item 02 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 02 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/shoujidiannao.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 02 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 02 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">Workstation management and maintenance</h3>
                                <p>Rest assured knowing that our advanced monitoring software checks all of your devices 24 hours per day.</p>
                                </div>
                            <!-- End of Service Slider Item 02 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 02 -->

                <!-- Service Slider Item 03 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 03 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/luyouqi.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 03 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 03 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-25">Mobile device support and sync</h3>
                                <p>We help you organize, configure, update, and secure your mobile devices. </p>
                                </div>
                            <!-- End of Service Slider Item 03 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 03 -->

                <!-- Service Slider Item 04 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 04 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/dayin.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 04 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 04 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">Antivirus, Backup, and Security</h3>
                                <p>Keep your workstations secure and protected from viruses, prying eyes, or thieves.</p>
                            </div>
                            <!-- End of Service Slider Item 04 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 04 -->
                <!-- Service Slider Item 05 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 05 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/weizhi.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 05 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 05 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">IT inventory and tracking</h3>
                                <p>We manage your IT inventory and document your systems so that you can keep track of what you have and where it is.</p>
                            </div>
                            <!-- End of Service Slider Item 05 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 05 -->
                <!-- Service Slider Item 06 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 06 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/jilu.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 06 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 06 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">Workstation upgrades and replacements</h3>
                                <p>You’ll know when it’s time to upgrade or replace your workstations thanks to our advanced monitoring system.</p>
                            </div>
                            <!-- End of Service Slider Item 06 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 06 -->
            </div>
        </div>
    </div>
    <!-- End of Service -->

    <!-- Banner Slider Cover -->
    <div class="lawFirm--internship pt-120 pb-120 lawFirm--bg-overlay lawFirm--bg-center" data-bg-img="/public/images/image-5.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text" style="min-height: 200px;display: flex;justify-content: center;flex-direction: column;">
                        <h1>Request a Service Desk Tour</h1>
                        <p>
                            · Learn how our technicians can support your employees<br>
                            · Organize and manage your IT inventory<br>
                            · Get fast help in case of IT emergencies
                        </p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Banner Slider Cover -->

    <!-- Testimonials -->
    <div class="lawFirm--testimonials pt-120 pb-120 lawFirm--left-back-circle">
        <div class="container">

            <!-- Testimonial Slider -->
            <div class="lawFirm--testimonials-slider owl-carousel" data-owl-nav="true" data-owl-margin="50">
                <!-- Slider Item 01 -->
                <div class="lawFirm--testimonials-slider-item p-relative pt-50 pr-50 pb-70 pl-50 mb-55">
                    <div class="slider-item-text text-center">
                        <p class="pb-50">Working with Bo Tong Technologies Inc is like having an internal IT department without the expense. They are honest, reliable, responsive and make recommendations that are easy to implement and cause minimal disruption to our staff. I also love how creative they are to using new technologies to help us maximize our efficiency while feeling secure about the protection of our data. I highly recommend Bo Tong Technologies Inc!</p>
                        <div class="slider-item-client">
                            <h4 class="yantramanav">MINDY GALOOB</h4>
                            <p>Children's Creativity Museum</p>
                        </div>
                    </div>
                    <div class="slider-item-image">
                        <img src="/public/images/testimonials-images/client-1.jpg" alt="" class="img-fluid" data-rjs="2">
                    </div>
                </div>
                <!-- End of Slider Item 01 -->

                <!-- Slider Item 02 -->
                <div class="lawFirm--testimonials-slider-item p-relative pt-50 pr-50 pb-70 pl-50 mb-55">
                    <div class="slider-item-text text-center">
                        <p class="pb-50">We just moved our offices and Bo Tong Technologies Inc was a godsend. Bo Tong Technologies Inc developed and implemented a smooth plan for the transition of all things internet, server and phones to our new space. The computers, internet and phones were up before we could unpack the first box…really amazing. You can work in clutter but there is no way to work without your computer. Thanks Bo Tong Technologies Inc!</p>
                        <div class="slider-item-client">
                            <h4 class="yantramanav">NANCY HOLLIDAY</h4>
                            <p>Holliday Development</p>
                        </div>
                    </div>
                    <div class="slider-item-image">
                        <img src="/public/images/testimonials-images/client-3.jpg" alt="" class="img-fluid" data-rjs="2">
                    </div>
                </div>
                <!-- End of Slider Item 02 -->
            </div>
            <!-- End of Testimonial Slider -->
        </div>
    </div>
    <!-- End of Testimonials -->


    <!-- Footer -->
    <footer class="lawFirm--footer pt-60 pb-60 dark-bg text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-3 order-md-1">
                    <!-- Footer Cradit -->
                    <div class="lawFirm-footer-cradit text-center text-md-left">
                        &copy; 2020 Bo Tong Technologies Inc.
                    </div>
                    <!-- End of Footer Cradit -->
                </div>

                <div class="col-md-2 order-1 order-md-2 d-flex justify-content-center">
                    <!-- Footer Logo Icon-->
                    <div class="lawFirm--footer-logo p-20">
                        <img src="/public/images/V.png" alt="" class="img-fluid" data-rjs="2">
                    </div>
                    <!-- End of Footer Logo Icon-->
                </div>

                <div class="col-md-5 order-2 order-md-3 text-center text-md-right">
                    <!-- Footer Menu -->
                    <div class="lawFirm--footer-menu ul-default">
                        <ul>
                            <li><a href="/it-support" target="_blank"> IT Support </a></li>
                            <li><a href="/about" target="_blank"> About Us </a></li>
                        </ul>
                    </div>
                    <!-- End of Footer Menu -->
                </div>
                
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Back to Top Button -->
    <div class="back-to-top d-flex align-items-center justify-content-center">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
    <!-- End of Back to Top Button -->
    
    <!-- JS Files -->

    <!-- ==== JQuery 3.3.1 js file ==== -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file ==== -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <!-- === Owl Carousel js file === -->
    <script src="/public/plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- === Parollar js file === -->
    <script src="/public/plugins/parollar/jquery.paroller.min.js"></script>

    <!-- === Waypoints js file === -->
    <script src="/public/plugins/waypoints/waypoints.js"></script>

    <!-- === Counter Up js file === -->
    <script src="/public/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- === Ratina JS === -->
    <script src="/public/plugins/ratinajs/retina.min.js"></script>

    <!-- === Menu js file === -->
    <script src="/public/js/menu.js"></script>

    <!-- === Nice Select js file === -->
    <script src="/public/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- ==== Script js file ==== -->
    <script src="/public/js/scripts.js"></script>

    <!-- ==== Custom js file ==== -->
    <script src="/public/js/custom.js"></script>

</body>
</html>