<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>Bo Tong Technologies Inc.</title>
    <meta name="keywords" content="Bo Tong Technologies Inc." />
    <meta name="description" content="Bo Tong Technologies Inc." /> 

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">

    <!-- CSS Files -->

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <!--==== Owl Carousel css file ====-->
    <link rel="stylesheet" href="/public/plugins/owl-carousel/owl.carousel.min.css">

    <!--==== Nice Select css file ====-->
    <link rel="stylesheet" href="/public/plugins/nice-select/nice-select.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/public/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/public/css/custom.css">
</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preload-img">
            <div class="spinnerWave">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
            </div>
        </div>
    </div>
    <!-- End of Preloader -->

    <!-- Main Header Start -->
    <header class="lawFirm--header">
        <div class="lawFirm--navbar-cover">
            <div class="container">
                <!-- Navbar Start -->
                <nav class="lawFirm--navbar pt-20 pb-20 p-relative">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-8">
                            <!-- Logo -->
                            <div class="lawFirm--logo font-weight-bold">
                                <a href="/" class="playfair">
                                    <img src="/public/images/logo.png" alt="" class="img-fluid" data-rjs="2"> 
                                </a>
                            </div>
                            <!-- End of Logo -->
                        </div>

                        <div class="col-lg-4 col-4 p-relative">
                            <!-- Nav Menu -->
                            <div class="lawFirm--nav-menu ul-default">
                                <ul>
                                    <li><a href="about.html">IT Support</a></li>
                                    <li><a href="practice-area.html">About Us</a></li>
                                </ul>
                            </div>
                            <!-- End of Nav Menu -->
                        </div>
                    </div>
                </nav>
                <!-- End of Navbar -->
            </div>
        </div>

        <!-- Off Canvas -->
        <div class="lawFirm--off-canvas">
            <div class="lawFirm--off-canvas-cover pt-50 pl-30 pr-30">
                <!-- Close Button -->
                <i class="lawFirm--off-canvas-close fa fa-close"></i>

                <!-- Logo -->
                <div class="lawFirm--logo pt-35 pb-20">
                    <a href="#"><img src="/public/images/logo.png" alt="" class="img-fluid" data-rjs="2"></a>
                </div>
                <!-- End of Logo -->

                <!-- About us -->
                <div class="lawFirm--about-in-canvas pt-20 pb-20">
                    <h3 class="pb-20">About us</h3>
                    <p class="pb-20">Lorem ipsum  sit amet, consectetur ut adipiscing elit, sed do ut eiusmod sed tempor incididunt labore et dolore magna aliqua. Quis ipsum sus ultrices gravida. Risus commodo  maecenas accumsan lacus.</p>
                    <a href="#" class="lawFirm--btn">Contact Us</a>
                </div>
                <!-- End of About us-->
                
                <!-- Subscribe Form -->
                <div class="lawFirm--sub-form-in-canvas pt-40 pb-20">
                    <h3 class="pb-20">Subscribe Our News Letter</h3>
                    <form action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d" method="post" novalidate class="canvas-search-form input-group mb-3">
                        <input type="text" class="form-control lawFirm--input-style" placeholder="Type Your Email" required>
                        <div class="input-group-append">
                            <button class="btn" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
                <!-- End of Subscribe Form -->

                <!-- Contact Info -->
                <div class="lawFirm--contact-in-canvas ul-default pt-40">
                    <h3 class="pb-20">Contact Info</h3>
                    <ul>
                        <li class="pb-20 pl-30"><i class="fa fa-map-marker"></i> Kirkland 601 Lexington Avenue New York, NY 10022 United States</li>
                        <li class="pb-20 pl-30"><i class="fa fa-phone"></i> +1212-446-4400 </li>
                        <li class="pb-20 pl-30"><i class="fa fa-envelope"></i> youremail@mail.com </li>
                    </ul>
                </div>
                <!-- End of Contact Info -->
            </div>
        </div>
        <!-- End of Off Canvas -->
    </header>
    <!-- End of Main Header -->

    <!-- Banner Slider Cover -->
    <div class="lawFirm--internship pt-120 pb-120 lawFirm--bg-overlay lawFirm--bg-center" data-bg-img="/public/images/bg-2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text" style="min-height: 200px;display: flex;align-items: center;">
                        <h1>Award winning web development and IT support in the East Bay & San Francisco</h1>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Banner Slider Cover -->

    <!-- About us -->
    <section class="lawFirm--about-us pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="lawFirm--about-text">
                        <p>
                            Beyond web development and IT support
                        </p>
                    </div>
                    <!-- Section Title -->
                    <div class="lawFirm--section-title text-left">
                        <h2>We Build Relationships and Trust</h2>
                    </div>
                    <!-- End of Section Title -->
                    
                    <!-- About Text -->
                    <div class="lawFirm--about-text">
                        <p>
                            Our philosophy of customer loyalty and service allows us to build meaningful long-term relationships with our clients. We treat every client like a partner, not just a customer. We proudly serve businesses and organizations in the East Bay and San Francisco Bay Area.
                        </p>
                    </div>
                    <!-- End of About Text --> 
                </div>

                <div class="col-lg-4">
                    <!-- About Images -->
                    <div class="lawFirm--w-process-image">
                        <div class="lawFirm--image-effect">
                            <img src="/public/images/w-process-images/group.jpg" alt="" class="img-fluid" data-rjs="2">
                        </div>
                    </div>
                    <!-- End of About Images -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of About us -->

    <!-- Service -->
    <div class="lawFirm--service pt-120 pb-120">
        <div class="container">
            <!-- Section Title -->
            <div class="lawFirm--section-title text-left">
                <h2>Web Development <br> Portfolio <span></span></h2>
            </div>
            <!-- End of Section Title -->
            <div class="lawFirm--service-slider lawFirm--slider-right-nav owl-carousel" data-owl-items="2" data-owl-margin="30" data-owl-nav="true" data-owl-responsive='{"0": {"items": "1"}, "480": {"items": "2"}}'>
                <!-- Service Slider Item 01 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-8">
                            <div class="lawFirm--service-slider-item-image">
                                <img src="/public/images/exp/1.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="lawFirm--service-slider-item-text pt-60 pb-60">
                                <p>Camp EDMO</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 01 -->

                <!-- Service Slider Item 02 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-8">
                            <div class="lawFirm--service-slider-item-image">
                                <img src="/public/images/exp/2.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="lawFirm--service-slider-item-text pt-60 pb-60">
                                <p>La Tourangelle</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 02 -->

                <!-- Service Slider Item 03 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-8">
                            <div class="lawFirm--service-slider-item-image">
                                <img src="/public/images/exp/4.jpg" alt="" class="img-fluid" data-rjs="2">
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="lawFirm--service-slider-item-text pt-60 pb-60 pr-20">
                                <p>UC Berkeley School of Law</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 03 -->

                <!-- Service Slider Item 04 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-8">
                            <div class="lawFirm--service-slider-item-image">
                                <img src="/public/images/exp/3.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="lawFirm--service-slider-item-text pt-60 pb-60">
                                <p>Rosov Consulting</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 04 -->
            </div>
        </div>
    </div>
    <!-- End of Service -->

    <!-- Internship -->
    <div class="lawFirm--internship pt-120 pb-120 lawFirm--bg-overlay lawFirm--bg-center" data-bg-img="/public/images/bg-1.jpeg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text">
                        <p>Computer Courage history</p>
                        <h2>Serving Our Community Since 2006</h2>
                        <p>Computer Courage was founded in 2006 by our President Adam Schwartz out of his home office. The company was founded on the same core philosophy of customer care and support that powers our business relationships today.</p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Internship -->

    <!-- Company Logo -->
    <div class="lawFirm--c-logo pt-120 pb-120 lawFirm--bg-overlay-2">
        <div class="container">
            <!-- Company Logo Slider -->
            <div class="lawFirm--c-logo-slider owl-carousel" data-owl-items="6" data-owl-margin="30" data-owl-mouse-drag="true" data-owl-responsive='{"0": {"items": "2"}, "575": {"items": "3"},"768": {"items": "4"},"992": {"items": "6"}}'>
                <!-- Company Logo Slider Item 01 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/1.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 01 -->
                
                <!-- Company Logo Slider Item 02 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/2.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 02 -->
                
                <!-- Company Logo Slider Item 03 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/3.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 03 -->
                
                <!-- Company Logo Slider Item 04 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/4.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 04 -->

                <!-- Company Logo Slider Item 05 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/5.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 05 -->
                
                <!-- Company Logo Slider Item 06 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/6.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 06 -->

                <!-- Company Logo Slider Item 07 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/7.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 07 -->

                <!-- Company Logo Slider Item 08 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/8.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 08 -->

                <!-- Company Logo Slider Item 09 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/9.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 09 -->

                <!-- Company Logo Slider Item 10 -->        
                <div class="lawFirm--c-logo-slider-item">
                    <img src="/public/images/company-logos-svg/10.svg" alt="" class="img-fluid" data-rjs="2">
                </div>
                <!-- Company Logo Slider Item 10 -->
            </div>
            <!-- End of Company Logo Slider -->
        </div>
    </div>
    <!-- End of Company Logo -->


    <!-- Footer -->
    <footer class="lawFirm--footer pt-60 pb-60 dark-bg text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-3 order-md-1">
                    <!-- Footer Cradit -->
                    <div class="lawFirm-footer-cradit text-center text-md-left">
                        &copy; 2020 Bo Tong Technologies Inc.
                    </div>
                    <!-- End of Footer Cradit -->
                </div>

                <div class="col-md-2 order-1 order-md-2 d-flex justify-content-center">
                    <!-- Footer Logo Icon-->
                    <div class="lawFirm--footer-logo p-20">
                        <img src="/public/images/logo-icon.png" alt="" class="img-fluid" data-rjs="2">
                    </div>
                    <!-- End of Footer Logo Icon-->
                </div>

                <div class="col-md-5 order-2 order-md-3 text-center text-md-right">
                    <!-- Footer Menu -->
                    <div class="lawFirm--footer-menu ul-default">
                        <ul>
                            <li><a href="https://www.jsdaima.com/" target="_blank"> IT Support </a></li>
                            <li><a href="https://www.jsdaima.com/webpage/" target="_blank"> About Us </a></li>
                        </ul>
                    </div>
                    <!-- End of Footer Menu -->
                </div>
                
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Back to Top Button -->
    <div class="back-to-top d-flex align-items-center justify-content-center">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
    <!-- End of Back to Top Button -->
    
    <!-- JS Files -->

    <!-- ==== JQuery 3.3.1 js file ==== -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file ==== -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <!-- === Owl Carousel js file === -->
    <script src="/public/plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- === Parollar js file === -->
    <script src="/public/plugins/parollar/jquery.paroller.min.js"></script>

    <!-- === Waypoints js file === -->
    <script src="/public/plugins/waypoints/waypoints.js"></script>

    <!-- === Counter Up js file === -->
    <script src="/public/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- === Ratina JS === -->
    <script src="/public/plugins/ratinajs/retina.min.js"></script>

    <!-- === Menu js file === -->
    <script src="/public/js/menu.js"></script>

    <!-- === Nice Select js file === -->
    <script src="/public/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- ==== Script js file ==== -->
    <script src="/public/js/scripts.js"></script>

    <!-- ==== Custom js file ==== -->
    <script src="/public/js/custom.js"></script>

</body>
</html>