<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>Residential IT Support - Bo Tong Technologies Inc.</title>
    <meta name="keywords" content="Residential IT Support - Bo Tong Technologies Inc." />
    <meta name="description" content="Residential IT Support - Bo Tong Technologies Inc." /> 

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/public/images/V.png">

    <!-- CSS Files -->

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <!--==== Owl Carousel css file ====-->
    <link rel="stylesheet" href="/public/plugins/owl-carousel/owl.carousel.min.css">

    <!--==== Nice Select css file ====-->
    <link rel="stylesheet" href="/public/plugins/nice-select/nice-select.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/public/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/public/css/custom.css">
</head>
<body>

    <!-- Main Header Start -->
    <header class="lawFirm--header">
        <div class="lawFirm--navbar-cover">
            <div class="container">
                <!-- Navbar Start -->
                <nav class="lawFirm--navbar pt-20 pb-20 p-relative">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-8">
                            <!-- Logo -->
                            <div class="lawFirm--logo font-weight-bold">
                                <a href="/" class="playfair">
                                    <img src="/public/images/V.png" alt="" class="img-fluid" data-rjs="2"> Bo Tong Technologies Inc.
                                </a>
                            </div>
                            <!-- End of Logo -->
                        </div>

                        <div class="col-lg-4 col-4 p-relative">
                            <!-- Nav Menu -->
                            <div class="lawFirm--nav-menu ul-default">
                                <ul>
                                    <li><a href="/it-support">IT Support</a></li>
                                    <li><a href="/about">About Us</a></li>
                                </ul>
                            </div>
                            <!-- End of Nav Menu -->
                        </div>
                    </div>
                </nav>
                <!-- End of Navbar -->
            </div>
        </div>
    </header>
    <!-- End of Main Header -->

    <!-- Banner Slider Cover -->
    <div class="lawFirm--internship pt-120 pb-120 lawFirm--bg-overlay lawFirm--bg-center" data-bg-img="/public/images/bg-2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text" style="min-height: 200px;display: flex;justify-content: center;flex-direction: column;">
                        <h1>Residential IT Support</h1>
                        <p>
                            Expert tech support and problem solving in your home, day or night
                        </p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Banner Slider Cover -->

    <!-- Service -->
    <div class="lawFirm--service pt-120 pb-120">
        <div class="container">
            <!-- Section Title -->
            <div class="lawFirm--section-title text-left">
                <h2>Residential IT Support<span></span></h2>
            </div>
            <!-- End of Section Title -->
            <div class="lawFirm--service-slider lawFirm--slider-right-nav owl-carousel" data-owl-items="2" data-owl-margin="30" data-owl-nav="true" data-owl-responsive='{"0": {"items": "1"}, "480": {"items": "2"}}'>
                <!-- Service Slider Item 01 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 01 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/diannao.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 01 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 01 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-25">Macs & PCs</h3>
                                <p>Our experts are current on the latest Windows and OS X technology, software, and security.</p>
                                </div>
                            <!-- End of Service Slider Item 01 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 01 -->

                <!-- Service Slider Item 02 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 02 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/yuncloud259.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 02 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 02 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">Day or Night</h3>
                                <p>We work around your schedule to help you get the service when you need it. Appointments are set for specific times.</p>
                                </div>
                            <!-- End of Service Slider Item 02 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 02 -->

                <!-- Service Slider Item 03 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 03 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/fuwuqi.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 03 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 03 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-25">Cloud Services</h3>
                                <p>Help with name brand cloud services like Google, Yahoo, Dropbox, Apple, Microsoft, and more.</p>
                                </div>
                            <!-- End of Service Slider Item 03 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 03 -->

                <!-- Service Slider Item 04 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 04 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/shoujidiannao.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 04 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 04 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">Mobile and Sync</h3>
                                <p>Set up sync of mail, calendar, contacts, documents, and photos across all your family devices, including mobile devices.</p>
                            </div>
                            <!-- End of Service Slider Item 04 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 04 -->
                <!-- Service Slider Item 05 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 05 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/chongzi.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 05 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 05 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">Virus Removal and Protection</h3>
                                <p>Get rid of nasty spyware and viruses. Keep them out with powerful protection for the whole family.</p>
                            </div>
                            <!-- End of Service Slider Item 05 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 05 -->
                <!-- Service Slider Item 06 -->
                <div class="lawFirm--service-slider-item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <!-- Service Slider Item 06 Image -->
                            <div class="lawFirm--service-slider-item-image slider-item-icon">
                                <img src="/public/images/ic/mobilepower.png" alt="" class="img-fluid" data-rjs="2">
                            </div>
                            <!-- End of Service Slider Item 06 Image -->
                        </div>
                        
                        <div class="col-lg-6">
                            <!-- Service Slider Item 06 Text -->
                            <div class="lawFirm--service-slider-item-text pt-40 pb-40 pl-10 pr-30">
                                <h3 class="mb-35">Backup and Recovery</h3>
                                <p>Get the right backup solution in place, with affordable, painless, automatic backup solutions to cloud or drive with reliable reporting.</p>
                            </div>
                            <!-- End of Service Slider Item 06 Text -->
                        </div>
                    </div>
                </div>
                <!-- End of Service Slider Item 06 -->
            </div>
        </div>
    </div>
    <!-- End of Service -->

    

    <!-- Banner Slider Cover -->
    <div class="lawFirm--internship pt-120 pb-120 lawFirm--bg-overlay lawFirm--bg-center" data-bg-img="/public/images/image-5.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Internship Text -->
                    <div class="lawFirm--internship-text" style="min-height: 200px;display: flex;justify-content: center;flex-direction: column;">
                        <h1>Reserve Your Appointment Today</h1>
                        <p>
                            · Day or evening appointments<br>
                            · Support for all devices and brands<br>
                            · Personal, one-on-one help<br>
                            · Simple hourly billing
                        </p>
                    </div>
                    <!-- End of Internship Text -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Banner Slider Cover -->

    <!-- Row -->
    <section class="lawFirm--about-us pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- About Images -->
                    <div class="lawFirm--w-process-image">
                        <div class="lawFirm--image-effect">
                            <img src="/public/images/support/support-1.jpg" alt="" class="img-fluid" data-rjs="2">
                        </div>
                    </div>
                    <!-- End of About Images -->
                </div>
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="lawFirm--section-title text-left">
                        <h2>In-Home Support vs Repair Shop</h2>
                    </div>
                    <!-- End of Section Title -->
                    
                    <!-- About Text -->
                    <div class="lawFirm--about-text">
                        <p class="p2">
                            We can fix many technology problems in your home, but we do not offer full hardware repair. We are able to remove viruses, resolve errors, reinstall or upgrade operating systems, and other fixes. We do not offer hardware repair such as broken screens, broken keyboards, or water damage repair. If you are unsure whether we can service your need, give us a call and we’ll help you figure it out.
                        </p>
                    </div>
                    <!-- End of About Text --> 
                </div>
                
            </div>
        </div>
    </section>
    <!-- End of Row -->
    <!-- Row -->
    <section class="lawFirm--about-us pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="lawFirm--section-title text-left">
                        <h2>Residential IT Support Pricing</h2>
                    </div>
                    <!-- End of Section Title -->
                    
                    <!-- About Text -->
                    <div class="lawFirm--about-text">
                        <p class="p2">
                            In-Home Computer Support is provided at $150 per hour during business hours.<br>
                            We provide service on on nights, weekends, and holidays for $200 per hour.<br>
                            Appointments are one hour minimum with quarter hour increments thereafter.<br>
                            You may cancel your appointment up to 24 hours in advance without penalty.
                        </p>
                    </div>
                    <!-- End of About Text --> 
                </div>
                <div class="col-lg-6">
                    <!-- About Images -->
                    <div class="lawFirm--w-process-image">
                        <div class="lawFirm--image-effect">
                            <img src="/public/images/support/support-2.jpeg" alt="" class="img-fluid" data-rjs="2">
                        </div>
                    </div>
                    <!-- End of About Images -->
                </div>
                
            </div>
        </div>
    </section>
    <!-- End of Row -->
    <!-- Row -->
    <section class="lawFirm--about-us pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- About Images -->
                    <div class="lawFirm--w-process-image">
                        <div class="lawFirm--image-effect">
                            <img src="/public/images/about/about-3.jpg" alt="" class="img-fluid" data-rjs="2">
                        </div>
                    </div>
                    <!-- End of About Images -->
                </div>
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="lawFirm--section-title text-left">
                        <h2>Helping Home Users Since 2006</h2>
                    </div>
                    <!-- End of Section Title -->
                    
                    <!-- About Text -->
                    <div class="lawFirm--about-text">
                        <p class="p2">
                            Adam Schwartz founded Bo Tong Technologies Inc in 2006 by offering uniquely expert and friendly home IT support. As we’ve expanded, our team’s reputation has been built on providing refreshingly clear expert support to users in their homes. Our friendly, dedicated experts will help you find clear answers and solve challenging problems. Discover the difference that a single session can make in your life and book an appointment with us today.
                        </p>
                    </div>
                    <!-- End of About Text --> 
                </div>
            </div>
        </div>
    </section>
    <!-- End of Row -->


    <!-- Footer -->
    <footer class="lawFirm--footer pt-60 pb-60 dark-bg text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-3 order-md-1">
                    <!-- Footer Cradit -->
                    <div class="lawFirm-footer-cradit text-center text-md-left">
                        &copy; 2020 Bo Tong Technologies Inc.
                    </div>
                    <!-- End of Footer Cradit -->
                </div>

                <div class="col-md-2 order-1 order-md-2 d-flex justify-content-center">
                    <!-- Footer Logo Icon-->
                    <div class="lawFirm--footer-logo p-20">
                        <img src="/public/images/V.png" alt="" class="img-fluid" data-rjs="2">
                    </div>
                    <!-- End of Footer Logo Icon-->
                </div>

                <div class="col-md-5 order-2 order-md-3 text-center text-md-right">
                    <!-- Footer Menu -->
                    <div class="lawFirm--footer-menu ul-default">
                        <ul>
                            <li><a href="/it-support" target="_blank"> IT Support </a></li>
                            <li><a href="/about" target="_blank"> About Us </a></li>
                        </ul>
                    </div>
                    <!-- End of Footer Menu -->
                </div>
                
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Back to Top Button -->
    <div class="back-to-top d-flex align-items-center justify-content-center">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
    <!-- End of Back to Top Button -->
    
    <!-- JS Files -->

    <!-- ==== JQuery 3.3.1 js file ==== -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file ==== -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <!-- === Owl Carousel js file === -->
    <script src="/public/plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- === Parollar js file === -->
    <script src="/public/plugins/parollar/jquery.paroller.min.js"></script>

    <!-- === Waypoints js file === -->
    <script src="/public/plugins/waypoints/waypoints.js"></script>

    <!-- === Counter Up js file === -->
    <script src="/public/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- === Ratina JS === -->
    <script src="/public/plugins/ratinajs/retina.min.js"></script>

    <!-- === Menu js file === -->
    <script src="/public/js/menu.js"></script>

    <!-- === Nice Select js file === -->
    <script src="/public/plugins/nice-select/jquery.nice-select.min.js"></script>

    <!-- ==== Script js file ==== -->
    <script src="/public/js/scripts.js"></script>

    <!-- ==== Custom js file ==== -->
    <script src="/public/js/custom.js"></script>

</body>
</html>